@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(https://fonts.googleapis.com/css?family=Lustria);
@import 'https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500i, 600i, 700i,800i';


@font-face{ 
  font-family: 'Novecentosanswide';
  src: url('../novecento/WebFont.eot');
  src: url('../font/Novecentosanswide-Normal-webfont.woff') format('woff'),
       url('../font/Novecentosanswide-Normal-webfont.ttf') format('truetype'),
       url('../font/Novecentosanswide-Normal-webfont.svg#webfont') format('svg');
}

* {
  margin:0; 
  padding:0;
}

video {
  width: 100%;
  z-index: -10;
  position: fixed;
}

body {
  /*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
  /*font-family: 'Lato', sans-serif;*/
  color: black ;
  font-weight: 100;
  margin-top: -10px;
}

.return_home {
  transition: top 0.25s ease-out;
  position: fixed;
  height: 40px;
  width: 100%;
  top: 0;
  right: 0;
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.1);*/
  border-bottom: 1px solid #eee;
  background-color: #fefefe;
  z-index:10;

}

.return_home a {
  position: relative;
  font-family: 'Raleway', sans-serif;
  padding-left: 12px;
  text-align: center;
  line-height: 40px;
  /* top: 30px;
  left: 30px;*/
  font-weight: 400;
  font-size: 20px;
  color:#888;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color:;
  /* background-color: purple; */
  text-shadow: .08em 0.08em 0px #e4e4e4;
}

.nav-down {

}

.nav-up {
    transition: top 0.2s ease-in;
    top: -40px;
}

.videoOverlay p {
  font-size: 26px;
  color: black; 

}

h2 {
  clear:both;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align:center;
  color: ;
  text-transform: uppercase;

}

.container {
  margin: 0 auto;
}



.innerHeaderContainer {
  position: fixed;
  width: 100%;
  display: inline-block;
  text-align: center;
  width: 100%; 
}

.videoOverlay {
  background: rgba(0,0,0,0);
  display: block;
  position: fixed;
  top: 19vw; right: 0; bottom: 0; left: 0;
  align-items: center;
  justify-content: center;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 81%, rgba(255,255,255,1) 89%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 81%,rgba(255,255,255,1) 89%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 81%,rgba(255,255,255,1) 89%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}



hr {
  border: 1px solid black;
}

section {
  clear: both;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 40px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 750px;
}

.innerContent {
/*  position: relative; */

}

.wrap {
  margin: 0 auto;
  position: relative; 
  margin-top: -175px; 
  overflow: hidden;
}

.box {
       display: inline-block;
       position: relative;
       width: 25%;
       padding-bottom: 25%;
       

}
    
.boxInner {
       position: absolute;
       left: 1px;
       right: 1px;
       top: 1px;
       bottom: 1px;
       overflow: hidden;
}
    

.boxInner img {
      width: 100%;
}

.boxInner .titleBox {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin-bottom: -50px;
   background: #000;
   background: rgba(0, 0, 0, 0.5);
   color: #FFF;
   padding: 10px;
   text-align: center;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}

/* Project Pages */
 .container-projectpage {
  margin: 0 40px;
  
} 

.subpage {
  font-weight: 300;
  text-align: left;
  color: #666;
  font-size: 20px;
  font-family: "Lustria";
}


.subpage h1 {
   text-transform: uppercase;
   text-align: center;
   margin: 70px 25px;
   margin-top: 110px;
   font-weight: 300;
   font-family: 'Raleway', sans-serif;
   color: #777;
}

.subpage h2 {
  text-align: left; 
  margin: 50px 0 10px ;
  font-family: "Lustria";
  text-transform: none;
  font-weight: 800;
  font-size: 1.2em;
}

.subpage p {
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 20px;
}

.subpage ul {
  margin: 30px 40px;
}
.subpage li {
  font-size: 16px; 
  margin-bottom: 8px;
}

.img-screenshot {
   margin-bottom: 20px; 
}

.img-screenshot img  {
 
  background-size: cover;
  width: 100%; 
  height: 100%;
  margin-top: 20px;

 
}

.img-screenshot figcaption {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 45px;
  padding: 5px 0;
  text-align: center;
  background-color: #;
}

.img-screenshot.mobile figcaption {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  text-align: center;
}

/* Other Projects section */
.prev_project, .next_project {
  display: inline-block;
  margin: 0 auto;
  width: 275px;

  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;


}

.prev_project { 
 margin-left: 47px;
}

.next_project {
  /*margin-left: 100px;*/
  
}

.next_project .titleBox {
  

}

.prev_project .titleBox {
  
  
}


#other_projects .titleBox {
  
  text-align: center;
  
  color: #fff;
  
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.1px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #111;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
 
}

.prev_project .titleBox:before {
  content: "\2190";
  font-size: 14px;
}




.next_project .titleBox:after {
  content: "\2192";
  font-size: 14px;
}

#other_projects {
  max-width: 650px;
  
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 00;
  border-top: 1px solid #eee;
  margin-top: 100px;
  padding-top: 30px;
  margin-bottom: 100px; 
}

#other_projects a {
  color: #666;
}

#other_projects img {
  max-width: 0px;
 
}
/* keep reveal from taking up entire screen */

h2#modalTitle{
  font-family: 'Raleway' , sans-serif;
  font-size: 18px;
}
.reveal {
  max-width: 95%;
  margin: 0 auto;
}

.reveal img {
  display: block;
  margin: 0 auto;
}

.img-screenshot.mobile img {
  display: block;
  margin: 0 auto;
  width: 217px;

}


/* Footer Section */
.footer {

  text-align: center;
  margin-top:100px;
  padding-top: 10px; 
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 300;
  background-color: #FCFCFC;
  display:flex;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}

.footer a { 
  list-style: none;
  text-decoration: none;
  color:#000;
  padding: 0px 10px;
}

.footer a:hover {
  color: #ffb3e6;
}

.footer li {
  display: inline;
  

}

.nobullets {
  list-style: none;
}

@media only screen and (max-width : 480px) {
       /* Smartphone view: 1 tile */
       .box {
          width: 100%;
          padding-bottom: 100%;
       }

       .wrap {
         
          max-width: 70%;
          margin: 0 auto
       }

       h1 {
        font-size: 50px;
       }

       .videoOverlay p {
        font-size: 24px;
       }

       h2 {
        font-size: 24px;
       }

       .subpage p {
          font-size: 16px;
       }

       .prev_project, .next_project  {
          display: block; 
          margin: 0 auto;
       }

    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
       /* Tablet view: 2 tiles */
       .box {
          width: 50%;
          padding-bottom: 50%;
       }

       .wrap {
          
          width: 90%;
          margin: 0 auto;
          margin-top: -30px;
       }

       .prev_project, .next_project  {
       display: block; 
       margin: 0 auto;
    }

      

    
    }
    
    @media only screen and (max-width : 760px) {
     .prev_project, .next_project  {
       display: block; 
       margin: 0 auto;
    }

     .prev_project .titleBox {
       margin-left: -10px; 
       padding-left: 10px;
     }

     .next_project .titleBox {
       margin-right: -10px;
       margin-top: -15px;
     }

    }
    
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
       /* Small desktop / ipad view: 3 tiles */
/*        .box {
          width: 33.3%;
          padding-bottom: 33.3%;
       } */

       .wrap {
          width: 90%;
          margin: 0 auto;
          margin-top: -70px;
       }

     
    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
       /* Medium desktop: 4 tiles */
       .box {
          width: 25%;
          padding-bottom: 25%;
       }
    }


/* @media only screen and (min-width: 1100px) {
  .videoOverlay {
    top: 20vw;
  }
}

@media only screen and (max-width: 660px) {


  .videoOverlay {
    top: 15vw;
  }

  .videoOverlay h1 {
    font-size: 30px;
  }

  .videoOverlay p {
    font-size: 18px;
  }
  
  .content {
    margin-top: -60px;
  }
  section {

    display: -webkit-flex;
      -webkit-flex-direction: column;

  }

  article {
    width: 95%;
    max-width: 380px;
    margin-bottom: 10px;
  }
} /* Narrow */ */