* {
	margin: 0; 
	padding: 0;
}

.top_nav {
	height: 72px;	
	background-color: #fff;
	position: relative;
	top: 0;
	z-index: 10;
	 
}

.top_nav ul {
	position: absolute;
	right: 0;
	
}

.top_nav li {
	
	display: inline-block; 
	width: 150px; 
	margin-right: 50px;
	font-size: 20px; 
} 

span.current_nav_page {
	line-height: 68px; 
	display: block; 
	color: #D63A13;
	border-top: 5px solid; 
}

.top_nav a {
	font-family: Montserrat-Light;
	font-size: 20px;
	color: #767f81;
}

body{
	font-family: "Montserrat";


}
.wistia_responsive_padding {
	padding:56.25% 0 0 0;
	position:relative;

}

.wistia_responsive_wrapper {
	margin-top: 0px;
	height:100%;
	left:0;
	position:absolute;
	top:-20; /* get rid of wistia thing at the top of the video */
	width:100%;
	z-index: -10; /* puts video behind nav bar, hides wistia link */
	
}

.outer_video_overlay_wrapper {
	position: relative;
	width: 70%;
	display: inline-block;
	text-align: center;
/* 	top: 30%; */
  	transform: translateY(%); 
  	transform: translateX(20%);
}

.inner_video_overlay_wrapper  {
	background: rgba(0,0,0,0);
  	display: block;
  	position: absolute;
/*   	top: -10; right: 0; bottom: 0; left: 0; */
/*   	align-items: center; */
/*   	justify-content: center; */
/*   	font-size: 40px;  */
/*   	color: #fff;
  	font-family: "Montserrat"; */
}


button.open_positions_button {
	margin-bottom: 45px;
	font-family: "Montserrat";
	font-size: 16px;
	text-transform: uppercase;
	background-color: #fff;
	width: 260px;
	height:40px;
	border: 1px solid #D63A13;
	color: #D63A13;
}

.content_wrapper {
	margin: 0;
	padding: 0; 
	line-height: 150%;
	max-width: 1000px; 
	margin: 0 auto;
	text-align: center;
	padding: 40px;
	font-weight: 200;
	color: #666;
	position: relative;
	top: -100px;
}

.content_wrapper .italic {
	font-style: italic;
}

.testimonial {
	margin: 0 auto;
	padding: 60px 0;
	max-width: 600px;
}

.testimonial h2 {
	font-family: "Merriweather";
}

.perks_section h3 {
	text-transform: uppercase;
}

.perks_section hr {
	width: 200px; 
	margin: 0 auto;
}

.hero_image {
	background: url('../image/bread.jpg')
 	no-repeat top center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
/* display: table; */
width: 100%;
height: 80vh;
  }

.hero_image h1, .inner_video_overlay_wrapper h1 {
	margin: 0 auto;
/* 	max-width: 860px; */
	padding-top: 160px;
	font-family: Montserrat;
	font-weight: 200; 
	font-size: 72px;
	line-height: 1.2;
	color: #ffffff;
	text-align: center;
}

.intro_text_box {
	font-family: Merriweather-Light;
	position: relative;
	
	font-size: 20px;
	line-height: 1.8; 
	background-color: #fff;
	padding: 67px 100px;
	text-align: left;
	box-shadow: 0 2px 4px 0 #e5e5e5;
	border: solid 0.5px #fbefd9;
	margin-bottom: 126px;
}


.intro_text_box p {
	font-family: Merriweather-Light;
	padding-bottom: 15px;
}

.bold {
	font-weight: bold;
}

.intro_text_box a {
	display: inline-block;
	margin-top: 46px;
	font-family: Montserrat-Regular;
	font-size: 24px;
	color: #d63a14;
}

h2.section_heading {
	margin: 0;
	padding: 0; 
	font-family: Montserrat-Light;
	font-size: 26px;

	letter-spacing: 4.4px;
	color: #3d3d3d;
	padding-bottom: 20px;
}

hr {
	width: 59px;
	margin: 0 auto;
	padding: 0; 
	margin-bottom: 68px;
	border-top: 5px solid #6ba6aa;

}

p.section_subheading {
	font-family: Montserrat-Light;
	font-size: 24px;
	color: #3d3d3d;
	margin: 0; 
}

section p {
	font-family: Merriweather-Regular;
/* 	font-size: 20px; */
	line-height: 1.8;
	color: #3d3d3d;
	margin-bottom: 30px;
}

.what_we_create_section img {
	padding-bottom: 90px;
}

.leadership_section {
	margin-top: 27px;
}

p.leadership_name{ 
	margin:0;
	padding:0;
	font-family: Montserrat-SemiBold;
	font-size: 18px;
	color: #3d3d3d;
	text-align:left;
	margin-top: 28px;
	line-height: 1.2;
}

p.leadership_position {
	margin:0;
	padding:0;
	font-family: Merriweather-LightItalic;
	font-size: 16px;
	line-height: 1.4;
	color: #222222;
	text-align: left;
	margin-top: 5px; 
	height: 100px; 


}

.leadership_section img {
	clear:both;
}

.leadership_item_container {

}

.image_horizontal{ 
	position: relative; 
	margin: 0 auto;
}

.centering_div {
	position: relative; 
	margin: 0 auto; 
}
.get_in_touch_section img:first-child {
	margin: 0;
	padding: 0;
	width: 25%;
	float: left;
	margin: 0 auto; 
	margin-right: 2px; 
	margin-left: 20px;
	
}

.get_in_touch_section img:nth-child(2) {
	float: left; 
	width: 67.6%; 
}


.inquiries_box { 
	margin-top: 20px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(148, 148, 148, 0.31);
	border: solid 0.5px #fbefd9;
	height: 211px; 
	display: flex;
	align-items: center; /* align vertical */
	
}

.inquiries_box p, .affiliate_section p {
	text-align: left;
	font-family: Montserrat-Light;
	padding: 0;
	margin: 0;
	font-size: 24px;
	line-height: 1.5; 
	color: #3d3d3d;
}
	
.inquiries_box .bold, .affiliate_section .bold {
	
	font-size: 24px;
	color: #3d3d3d;
}

.inner_text {
	
/* 	height: 211px; */
	 
	padding-left: 7%; 
/* 	padding-bottom: 0;  */
/* 	line-height: 211px; */
/* 	display: inline-block; */
  vertical-align: middle;
  line-height: normal; 

}

.affiliate_section {
	margin-left: 3%; 
	margin-top: 62px; 
}

.affiliate_section hr {
	margin-top: 83px; 
	width: 90%;
	height: 7px;
	border-top: 0;
	color: #979797;
}

@media screen and (max-width: 668px) {
	
	.top_nav {
	height: 44px;
	
	}

	.top_nav ul {

		position: absolute;
		right: 0;
	}

	.top_nav li {
		
		display: inline-block; 
		width: 90px; 
		margin-right: 19px;
		font-size: 12px; 
	} 

	span.current_nav_page {
		line-height: 42px;
		display: block; 
		color: #D63A13;
		border-top: 3px solid; 
	}

	.top_nav a {
		line-height: 44px;
		font-family: Montserrat-Light;
		font-size: 12px;
		color: #767f81;
	}

	.hero_image {
		height: 60vh;
	}

	.hero_image h1, .inner_video_overlay_wrapper h1 {
		font-family: Montserrat-Light;
		font-size: 27px;
	}

	.content_wrapper {
		top: -80px; 
		width: 100%;
		margin: 0;
		padding: 0 2%;;
	}

	.intro_text_box {
		width: 100%;
		margin: 0;
		padding: 0;
		padding-top: 43px;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 80px;
	}
	
	.intro_text_box p {
		
		line-height: 1.9; 
		font-family: Merriweather-Light;
		font-size: 14px;
		color: #3d3d3d;
	}

	.intro_text_box .italic {
		font-family: Merriweather-LightItalic;
	font-size: 16px;
	line-height: 1.9;
	}

	.intro_text_box a {
		font-family: Montserrat-Bold;
	font-size: 14px;
	color: #d63a14;
	margin-top: 0; 
	}

	h2.section_heading {
		font-family: Montserrat-Light;
	font-size: 20px;
	line-height: 1.6;
	letter-spacing: 3.4px;
	color: #3d3d3d;
 
	}

	.what_we_create_section p {
			font-family: Merriweather-Light;
	font-size: 14px;
	line-height: 1.6;
	}
	
	.what_we_create_section p.section_subheading {
		font-family: Montserrat-Light;
		font-size: 18px;
	}

	.what_we_create_section img {
	padding-bottom: 65px;
	}

	hr {
		margin-bottom: 35px;
	}

	p.leadership_name {
		font-family: Montserrat-Bold;
		font-size: 12px;
		margin-top: 14px;
	}

	p.leadership_position {
		font-family: Merriweather-LightItalic;
		font-size: 12px;
		line-height: 1.5;
		color: #222222;
		height: 60px; 

	}

	.inquiries_box { 
		height: 123px;

	}

	.inquiries_box p, .affiliate_section p {
		font-family: Montserrat;
		font-size: 14px;
		line-height: 1.6;
	}

	.inquiries_box .bold, .affiliate_section .bold {
		font-family: Montserrat-Bold;
		font-size: 14px;


	}
}

	
}